{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Have a puppy that needs to be adopted?</h1>
  <p>Add a new puppy with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{form.name.label       }} <br>{{ form.name()}}<br><br>
      {{form.puppy_gender.label   }} <br>{{form.puppy_gender()}} <br><br>
      {{form.puppy_breed.label   }} <br>{{form.puppy_breed()}} <br><br>
      {{form.puppy_age.label   }} <br>{{form.puppy_age()}} <br><br>
      {{form.puppy_color.label }} <br>{{form.puppy_color()}}<br><br>
      {{form.puppy_height.label}} <br>{{form.puppy_height()}}<br><br>
      {{form.puppy_weight.label}} <br>{{form.puppy_weight()}}<br><br>
      {{form.submit()}}
    </form><br>
</div><br>
{% endblock %}
<br>
